*.table
*.pyc
*~
*.o
*.so
*.inp
*.swp
src/log.lammps
docs/build
data/
src/log.cite
src/nohup.out
minim.lammpstrj
examples/log.lammps
examples/gofr*.dat
examples/gr
build/
*#*#
old_files/
examples/*pdf
examples/*png
post-process/*png
post-process/*pdf
*.egg-info
