language: python
python:
  - "2.7"

# command to install dependencies
install: "pip install -r requirements.txt"
# command to run nosetests
script: cd analysis && make && cd .. && nosetests test --with-coverage --rednose --cover-package=analysis,refactor -v
